{% macro render_item(order) %}

<div style='border-style: solid; border-color: #000000; margin: 5px'>
    <p>
        <span>
            <b>Номер доставки:</b> {{ order['id_N'] }}
        </span><br>
        <span>
            <b>Адрес:</b> {{ order['Adress'] }}
        </span><br>

        <div>
            <form action="" method="post">
                <input type="hidden" name="order_id" value="{{order['id_N']}}">
                <button type="submit" name="action" value="1">Обработать заявку</button>
            </form>
        </div>
    </p>
</div>
{% endmacro %}
